<template name="setPseudo">
    <div class="border border-primary">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-body">
                    <form class="js-new-pseudo">

                        <input class="form-control" type="text" name="pseudo" placeholder="Tapez votre pseudo ici">

                        <button class="btn btn-primary" type="submit" name="button">Confirmer votre pseudo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>